@charset "UTF-8";
* {
  margin : 0;
  padding : 0;
}
.list_wrap {
  width: 1000px;
  margin: 0 auto;
  margin-left:800px;
  padding:30px;
}
.list_wrap .item {                   /*사진 이미지 + 글자 */
  display: inline-block;             /*이미지들이 서로 한줄(가로)로 들어갈 수 있도록*/
  width: 30%;
  margin-top: 40px;
  margin-left: 5%;
  background-color:#c8c8c8;
  box-shadow:  0px 0px 5px rgba(0,0,0, 0.5);    /*박스 미세한 줄*/
}
.list_wrap .item .image {            /*사진 이미지만*/
  width: 100%;
  height: 250px;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.list_wrap .item5 .image { 
  background-image: url(../p_img/bean_kraft.jpg);
}
.list_wrap .item6 .image { 
  background-image: url(../p_img/bean_pack.jpg);
}
.list_wrap .item strong {
  display: block;                    /*strong 태그는 인라인 태그라서 마진 적용이 안됨 하여 block*/                                         
  margin: 15px 0 10px 0;
  font-size: 25px;
  color:#2C2A29;
  letter-spacing: -1px;              /*글자 간격 줄임*/
  text-align: center;
}
.list_wrap .item p {                 /*내용이 들어갑니다.*/
  font-size: 25px;
  letter-spacing: -1px;
}
.sub-text {
   font-size: 50px;
   color:#ddd;
  text-align: center;
}